---
const desiredVoice = 'Google US English'
---

<p id="status">Waiting for {desiredVoice} to load...</p>
<button id="start">Start</button>

<script on:load define:vars={{desiredVoice}}>
    speechSynthesis.onvoiceschanged = () => {
        const voices = speechSynthesis.getVoices()
        console.log(voices)
        const voice = voices.find(v => v.name == desiredVoice)
        if (voice) {
            document.getElementById('status').textContent = `Loaded ${desiredVoice}!`
        }
    }

    document.getElementById('start').addEventListener('click', () => {
        let utterance = new SpeechSynthesisUtterance("Hello world!");
        speechSynthesis.speak(utterance);
    })
</script>